@charset "UTF-8";
/* ------------ base ------------ */
body, html {
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'times',"Microsoft JhengHei";
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.85;
  background: #FFFDFB;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  line-height: 1.8;
  margin-top: 10px;
  margin-bottom: 10px;
}

*:hover {
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}

h3 {
  color: #ef4130;
  font-size: 1.5em;
}

p {
  font-size: 0.8em;
  font-weight: 200;
  margin-bottom: 0;
}

a {
  color: #ef4130;
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}
a:hover, a:focus {
  text-decoration: none;
  color: #ef4130;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

ul, li {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  list-style: none;
}

.btn span {
  padding: 0 5px;
}
.btn.active {
  box-shadow: none;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 3px 6px;
}
@media only screen and (max-width: 320px) {
  .btn-xs, .btn-group-xs > .btn {
    padding: 1px 3px;
  }
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

.btn-primary {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMjgwODE0IiB5MT0iLTAuMTAyMjA4IiB4Mj0iMC43MTkxODYiIHkyPSIxLjEwMjIwOCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmNDEzMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmY5NDczIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZjZjg5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(290deg, #ef4130, #ff9473, #ffcf89);
  background-image: -webkit-linear-gradient(290deg, #ef4130, #ff9473, #ffcf89);
  background-image: linear-gradient(160deg, #ef4130, #ff9473, #ffcf89);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active, .btn-primary.dropdown-toggle, .btn-primary.disabled {
  border: 0;
}

.btn-default {
  border: 0;
  border-radius: 0;
  width: 56px;
  text-align: center;
}
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default.active, .btn-default.dropdown-toggle, .btn-default.disabled {
  border: 0;
  color: #ef4130;
  background-color: transparent;
}
.btn-default:active:hover, .btn-default:active:focus {
  border: 0;
  color: #ef4130;
  background-color: transparent;
  box-shadow: none;
}
.open .btn-default.dropdown-toggle {
  width: 56px;
  border: 0;
  color: #fff;
  background: rgba(255, 148, 115, 0.95);
}
.open .btn-default.dropdown-toggle:hover, .open .btn-default.dropdown-toggle:focus, .open .btn-default.dropdown-toggle.focus {
  border: 0;
  color: #fff;
  background: rgba(255, 148, 115, 0.95);
}
.btn-default.disabled {
  background-color: transparent;
  border: 0;
}
.btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default.disabled[disabled], .btn-default.disabled[disabled]:hover, .btn-default.disabled[disabled]:focus, .btn-default.disabled[disabled].focus, .btn-default.disabled[disabled]:active, .btn-default.disabled[disabled].active {
  border: 0;
  background-color: transparent;
}
@media only screen and (max-width: 480px) {
  .btn-default {
    font-size: 12px;
  }
}

.dropdown-menu {
  min-width: 0;
  border: 0;
  padding: 0;
  background: rgba(255, 148, 115, 0.95);
  border-radius: 0 0 4px 4px;
  margin: 0;
  overflow: hidden;
  width: 56px;
  text-align: center;
}
.dropdown-menu > li > a {
  color: #fff;
  padding: 6px 20px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #fff;
  background: rgba(239, 65, 48, 0.8);
}
@media only screen and (max-width: 480px) {
  .dropdown-menu {
    font-size: 12px;
  }
}

.btn-sm {
  color: #f6f6f6;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 0.8em;
}
@media only screen and (max-width: 320px) {
  .btn-sm {
    font-size: 0.75em;
    padding: 4px 8px;
  }
}

.radio-style {
  margin-bottom: 20px;
}
.radio-style label.btn {
  text-align: left;
}
.radio-style label.btn span {
  font-size: 1.125em;
}
.radio-style label input[type="radio"] ~ i.fa.fa-circle-o {
  color: #c8c8c8;
  display: inline;
}
.radio-style label input[type="radio"] ~ i.fa.fa-dot-circle-o {
  display: none;
}
.radio-style label input[type="radio"]:checked ~ i.fa.fa-circle-o {
  display: none;
}
.radio-style label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o {
  color: #ef4130;
  display: inline;
}
.radio-style label:hover input[type="radio"] ~ i.fa {
  color: #ef4130;
}
.radio-style .fa-2x {
  font-size: 1.5em;
}

.btn-custom {
  cursor: pointer;
  position: relative;
  display: block;
  text-align: center;
  margin: 10px auto;
  font-weight: bold;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuOTUyNzkiIHkxPSItMC4wMzk2MTQiIHgyPSIwLjA0NzIxIiB5Mj0iMS4wMzk2MTQiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZjQxMzAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmOTQ3MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmY2Y4OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(230deg, #ef4130, #ff9473, #ffcf89);
  background-image: -webkit-linear-gradient(230deg, #ef4130, #ff9473, #ffcf89);
  background-image: linear-gradient(220deg, #ef4130, #ff9473, #ffcf89);
  box-shadow: 0 5px 10px rgba(111, 111, 111, 0.1), 0 5px 20px rgba(111, 111, 111, 0.15);
  text-shadow: 0 0 4px rgba(239, 65, 48, 0.6), 0 0 10px rgba(239, 65, 48, 0.6);
}
.btn-custom a {
  font-size: 1em;
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  color: #fff;
}
.btn-custom:hover:after {
  opacity: 1;
}
.btn-custom:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMDQ3MjEiIHkxPSItMC4wMzk2MTQiIHgyPSIwLjk1Mjc5IiB5Mj0iMS4wMzk2MTQiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZjQxMzAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmOTQ3MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmY2Y4OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(310deg, #ef4130, #ff9473, #ffcf89);
  background-image: -webkit-linear-gradient(310deg, #ef4130, #ff9473, #ffcf89);
  background-image: linear-gradient(140deg, #ef4130, #ff9473, #ffcf89);
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}
.btn-custom span {
  position: relative;
  z-index: 3;
}
.card .btn-custom {
  padding: 6px 10px;
  border-radius: 4px;
  color: #fff;
  width: 220px;
  box-shadow: none;
  clear: both;
}
@media only screen and (min-width: 769px) {
  .card .btn-custom {
    position: absolute;
    width: 120px;
    top: 5px;
    right: 15px;
    font-size: 0.9em;
  }
  .card .btn-custom a {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 769px) {
  #single-match-results .btn-custom {
    position: relative;
  }
}

.btn-custom-sm {
  line-height: 20px;
  box-shadow: none;
  cursor: pointer;
  position: relative;
  display: block;
  text-align: center;
  margin: 6px auto;
  font-weight: bold;
  border: 2px solid #FB6C48;
  background: white;
  border-radius: 5px;
  padding: 4px;
  box-shadow: 0 2px 0 #ff9473;
}
.btn-custom-sm a {
  padding: 2px 4px;
  color: #FB6C48;
}
@media only screen and (max-width: 480px) {
  .btn-custom-sm {
    font-size: 0.9em;
  }
  .btn-custom-sm a {
    padding: 2px;
  }
}

.input-group .btn-secondary {
  height: 40px;
  width: 40px;
  background: #FB6C48 url("../images/icon-search.png") no-repeat 8px 7px;
  background-size: 22px;
}
.input-group .form-control {
  height: 40px;
  line-height: 40px;
  border: 1px solid #FB6C48;
  box-shadow: none !important;
}

.wrapper {
  min-height: 100%;
  padding: 70px 0 100px;
}
#search .wrapper {
  padding-top: 50px;
}
@media screen and (min-width: 1336px) {
  .wrapper {
    padding-top: 70px;
  }
}

header {
  background: rgba(255, 253, 251, 0.8);
  text-align: center;
  height: 50px;
  border-bottom: 1px solid #FFF3E1;
}
header .container {
  position: relative;
}
header h2.logo {
  margin: 0 auto;
  line-height: 0;
}
header h2.logo img {
  width: 160px;
  padding: 10px 0;
}
header .back, header h2.logo, header .dropdown, header .search {
  display: inline-block;
  vertical-align: top;
}
header .back a, header h2.logo a, header .dropdown a, header .search a {
  display: block;
}
header .back {
  position: absolute;
  line-height: 50px;
  left: 8px;
  top: 0;
}
header .back a {
  padding: 0 8px;
}
header .back i {
  padding-right: 6px;
}
header .right-nav {
  position: absolute;
  right: 0;
  top: 0;
}
header .dropdown, header .search {
  height: 50px;
  line-height: 50px;
  vertical-align: top;
}
header .search {
  width: 40px;
  font-size: 1.3em;
  margin-right: 6px;
}
header .search a {
  line-height: 48px;
}
header .dropdown .btn {
  vertical-align: top;
  padding: 0 6px;
  line-height: 50px;
  color: #ef4130;
  font-size: 1em;
}
header .dropdown .btn i {
  padding-left: 5px;
}
header .btn-default {
  border: 0;
}
@media only screen and (max-width: 480px) {
  header .back {
    font-size: 12px;
    left: 0;
  }
  header h2.logo img {
    width: 130px;
  }
}
@media only screen and (max-width: 320px) {
  header .dropdown .btn {
    width: 40px;
  }
  header h2.logo img {
    width: 110px;
  }
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #6f6f6f;
  margin-top: 0;
  line-height: 20px;
  background: #FFFDFB;
  height: 60px;
  margin-top: -60px;
}
footer .container {
  border-top: 1px solid #f6f6f6;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer a {
  color: #6f6f6f;
  text-decoration: underline;
}
footer span {
  margin: 0 5px;
}
footer span:nth-last-of-type(1) {
  display: block;
}
@media only screen and (max-width: 480px) {
  footer {
    height: 80px;
    margin-top: -80px;
  }
  footer span {
    display: block;
  }
}

@media screen and (max-width: 413px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.row {
  margin: 0;
}

.table {
  display: table;
  width: 100%;
  margin: 0;
  font-size: 0.9em;
  color: #4C4A48;
  border-bottom: 1px solid #f6f6f6;
}
.table div {
  padding: 6px;
  text-align: center;
}
.table > div {
  display: table-row;
}
.table > div > div {
  display: table-cell;
}
.table.main > div:nth-of-type(odd) {
  background: #f6f6f6;
  color: #4C4A48;
}
.table.sub > div:nth-of-type(odd) {
  background: WhiteSmoke;
}
.table span:nth-of-type(1):after {
  content: '\002F';
  padding: 0 3px;
}

.tab-container {
  padding: 5px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
}

.table-responsive {
  color: #6f6f6f;
  border: 0;
  margin-bottom: 0 !important;
  font-size: 15px;
}
.table-responsive .table thead, .table-responsive .table tr, .table-responsive .table th {
  border: 0;
}
.table-responsive .table th {
  background: #f6f6f6;
}
.table-responsive .table th, .table-responsive .table td {
  text-align: center;
}

a.card-link {
  display: block;
}

a.card-link .card {
  color: #4f4f4f;
  display: block;
}

.line {
  width: 100%;
  background: url(../images/line.png) no-repeat center center;
  height: 40px;
  margin: 20px auto 20px;
}

.top-banner {
  position: relative;
  padding: 0;
  box-shadow: 0 0 10px rgba(239, 65, 48, 0.2), 0 10px 20px rgba(239, 65, 48, 0.3);
}
.top-banner img {
  width: 100%;
}
.top-banner .search-container {
  width: 100%;
  z-index: 3;
  background: #f6f6f6;
}
.top-banner .search-container h3 {
  margin: 0;
  color: #6f6f6f;
  text-align: center;
}
.top-banner .search-container .single-match {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}
.top-banner .search-container .single-match h5 {
  text-align: center;
}
.top-banner .match-info {
  margin-top: -32px;
  width: 100%;
  color: #D21F2A;
  height: 32px;
  padding: 4px 10px;
  font-weight: bold;
}
.top-banner .match-info .countdown {
  line-height: 20px;
  width: 65%;
  display: inline-block;
}
.top-banner .match-info .countdown span {
  font-size: 1.25em;
}
.top-banner .match-info .countdown span.live {
  border-radius: 10px;
  background: #D21F2A;
  color: white;
  padding: 0 10px;
  margin-right: 4px;
  font-size: 0.9em;
}
.top-banner .match-info .btn-container {
  width: 80px;
  float: right;
  display: inline-block;
}
.top-banner .match-info .btn-container .btn-custom-sm {
  margin-top: -6px;
}
@media only screen and (max-width: 768px) {
  .top-banner .search-container h3 {
    font-size: 1.125em;
  }
  .top-banner .search-container .single-match {
    width: 100%;
    padding: 10px 10px 14px;
  }
}
@media only screen and (max-width: 480px) {
  .top-banner .search-container .single-match {
    width: 100%;
  }
  .top-banner .match-info .countdown span {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 320px) {
  .top-banner .match-info {
    margin-top: 0;
    background: #f9f9f9;
    border-bottom: 1px solid #fff;
    height: 36px;
  }
  .top-banner .match-info .btn-container .btn-custom-sm {
    margin-top: 0;
  }
}
@media screen and (min-width: 1336px) {
  .top-banner.container {
    width: 1336px;
  }
}
@media screen and (max-width: 1336px) {
  .top-banner.container {
    width: 100%;
  }
}

.arrow {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.arrow .arrow-right, .arrow .arrow-left {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
}
.arrow .arrow-right {
  border-top: 2px solid #ef4130;
  border-left: 2px solid #ef4130;
  top: 14px;
  left: 6px;
}
.arrow .arrow-left {
  top: 14px;
  left: 20px;
  border-bottom: 2px solid #ef4130;
  border-right: 2px solid #ef4130;
}
@media only screen and (max-width: 480px) {
  .arrow {
    width: 40px;
    height: 40px;
  }
  .arrow .arrow-right, .arrow .arrow-left {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
  }
}

.carousel-control {
  opacity: 1;
  height: 60px;
  width: 60px;
  top: 30%;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
@media only screen and (max-width: 480px) {
  .carousel-control {
    top: 30px;
    height: 40px;
    width: 40px;
  }
}

.modal-body {
  padding: 20px;
}

.close {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 1;
  overflow: hidden;
  display: inline-block;
  z-index: 9999;
  cursor: pointer;
  top: 12px;
  right: 12px;
  background: #f6f6f6;
}
.close:hover {
  background-color: transparent;
  background-color: rgba(79, 79, 79, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#334F4F4F,endColorstr=#334F4F4F);
  zoom: 1;
}
.close:hover::before, .close:hover::after {
  background: #4f4f4f;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #4f4f4f;
}
.close::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#section2 {
  margin-top: 40px;
}
#section2 .container h2 {
  font-size: 1.25em;
  text-align: center;
  font-weight: 900;
  color: #6f6f6f;
}
@media only screen and (max-width: 480px) {
  #section2 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

#single-match-results h2 {
  font-size: 1.75em;
  text-align: center;
  line-height: 1.25em;
  color: #4C4A48;
}
#single-match-results h2 span {
  display: block;
  font-size: 20px;
}
#single-match-results p.results {
  margin: 20px auto 10px;
  border-top: 1px solid #ccc;
}

.card {
  background: #fff;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(111, 111, 111, 0.1), 0 5px 20px rgba(111, 111, 111, 0.15);
  box-shadow: 0 0 10px rgba(239, 65, 48, 0.2), 0 10px 20px rgba(239, 65, 48, 0.3);
  text-align: center;
  position: relative;
}
.card .name {
  background: #f6f6f6;
  font-size: 1.35em;
  padding: 6px 20px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}
.card .name span:nth-of-type(1):after {
  content: '|';
  padding: 0 10px;
  color: #aaa;
}
.card .other-info {
  font-size: 1.125em;
  padding: 6px 20px;
  line-height: 1.2;
  padding: 10px;
  line-height: 1.6;
}
.card .other-info .col-md-6 {
  padding-left: 2px;
  padding-right: 2px;
}
.card .other-info span {
  margin-right: 10px;
}

#results p.results {
  padding: 0;
}
#results .athlete {
  border-bottom: 1px solid #ffcf89;
}
#results .btn-custom-sm {
  width: 120px;
  float: right;
}

.result-info .sport-info {
  padding-top: 0;
}
.result-info h5 {
  font-size: 1.5em;
  text-align: center;
  color: #ef4130;
}
.result-info h5.live:after {
  content: "live";
  background: #D21F2A;
  color: #fff;
  padding: 0 10px;
  border-radius: 10px;
  line-height: 16px;
  font-size: 10px;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 4px rgba(255, 255, 255, 0.6);
  display: inline-block;
}
.result-info .col-xs-4 {
  text-align: right;
}
@media screen and (max-width: 413px) {
  .result-info .col-xs-4 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .result-info .col-xs-8 {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media screen and (max-width: 320px) {
  .result-info .col-xs-4 {
    padding-left: 2px;
    padding-right: 2px;
  }
  .result-info .col-xs-8 {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.athlete {
  width: 96%;
  margin: 0 auto;
  padding-bottom: 20px;
  color: #6f6f6f;
  line-height: 1.25em;
}
.athlete .col-xs-8, .athlete .col-xs-12 {
  padding-left: 0;
  line-height: 30px;
}
.athlete .col-xs-4 {
  text-align: right;
  padding-right: 0;
  line-height: 30px;
}
.athlete h4 {
  font-size: 1.25em;
  margin: 0;
}
.athlete .gender:after {
  content: '\002F';
  padding-left: 5px;
}
#match .athlete {
  padding-bottom: 10px;
}
@media only screen and (max-width: 320px) {
  .athlete h4 {
    font-size: 1.125em;
  }
}

.nav-tabs {
  text-align: center;
  display: table;
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-bottom: 2px solid #22c3b8;
}
.nav-tabs > li {
  display: table-cell;
  text-align: center;
  margin: 0;
  float: none;
  font-size: 14px;
  border-right: 1px solid #FFFDFB;
}
.nav-tabs > li.live {
  position: relative;
}
.nav-tabs > li.live:after {
  content: "live";
  background: #D21F2A;
  color: #fff;
  padding: 0 10px;
  border-radius: 10px;
  line-height: 16px;
  font-size: 10px;
  position: absolute;
  top: -6px;
  right: 2px;
  display: inline-block;
  box-shadow: 0 0 0 2px white;
}
.nav-tabs > li:nth-of-type(1) {
  margin-left: 0;
}
.nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
  line-height: 1.25em;
  padding: 10px 6px 12px 6px;
  box-shadow: inset 0 0 2px rgba(0, 144, 134, 0.6);
  background: rgba(34, 195, 184, 0.2);
  color: #6f6f6f;
  margin: 0;
  border: 0 !important;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background: #22c3b8;
  color: white;
  border: 0;
  box-shadow: none;
}
.nav-tabs > li.active {
  border: 0;
  border-right: 1px solid #FFFDFB;
}
.nav-tabs > li.active > a {
  background: #22c3b8;
  color: white;
  border: 0;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #22c3b8;
  color: white;
}
.nav-tabs > li:nth-last-of-type(1) {
  border-right: 0;
}
@media only screen and (max-width: 320px) {
  .nav-tabs > li {
    font-size: 12px;
  }
}

.tab-content {
  padding-top: 20px;
}
.tab-content .row {
  text-align: center;
}
.tab-content .row .col-sm-4 {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-left: -4px;
  padding-left: 6px;
  padding-right: 6px;
}
.tab-content .btn-custom-sm {
  width: 120px;
}

#match .athlete .btn-custom-sm {
  width: 110px;
  float: right;
  margin-top: -4px;
}

.select-container {
  width: 100%;
  height: 60px;
}

.transcripts-print {
  margin: 20px auto;
  width: 220px;
}

.live-map {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: url("images/703bike_map.png");
  border: 1px solid #ccc;
}
.live-map .dashboard {
  z-index: 99;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  width: 200px;
  height: 80px;
  font-size: 1.25em;
  font-weight: 500;
  box-shadow: 0 0 2px 1px rgba(204, 204, 204, 0.8);
}
.live-map .dashboard .sport-icon, .live-map .dashboard .map-info {
  display: inline-block;
  vertical-align: top;
}
.live-map .dashboard .map-info > span {
  display: block;
  line-height: 30px;
}
.live-map .dashboard .map-info > span span {
  padding-right: 4px;
}
.live-map .dashboard .map-info > span span.item, .live-map .dashboard .map-info > span span.time {
  color: #ef4130;
}
.live-map .dashboard .map-info > span .dist {
  color: #6f6f6f;
}
.live-map .dashboard .map-info > span .turn {
  background: #22c3b8;
  color: white;
  border-radius: 2px;
  padding: 0 5px;
  font-size: 14px;
  display: inline;
}
.live-map#map-sport1-1 {
  background: url("../images/703swim_map.png");
  background-size: cover;
}
.live-map#map-sport1-1 .sport-icon {
  width: 52px;
  height: 52px;
  margin-right: 5px;
  display: inline-block;
  background: url("../images/icon_swim.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport1-2 {
  background: url("../images/703bike_map.png");
  background-size: cover;
}
.live-map#map-sport1-2 .sport-icon {
  width: 52px;
  height: 52px;
  margin-right: 5px;
  display: inline-block;
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport1-3 {
  background: url("../images/703run_map.png");
  background-size: cover;
}
.live-map#map-sport1-3 .sport-icon {
  width: 52px;
  height: 52px;
  margin-right: 5px;
  display: inline-block;
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport1-3 .dashboard {
  right: 8px;
  left: auto;
}
@media screen and (max-width: 567px) {
  .live-map#map-sport1-3 .dashboard {
    padding: 10px 8px;
  }
}
@media only screen and (max-width: 320px) {
  .live-map .dashboard {
    width: 154px;
    font-size: 14px;
    padding: 10px 4px;
  }
  .live-map#map-sport1-1 .sport-icon, .live-map#map-sport1-2 .sport-icon, .live-map#map-sport1-3 .sport-icon {
    width: 30px;
    height: 30px;
  }
}
.live-map img {
  width: 100%;
}
.live-map
.split-mask {
  position: relative;
  top: 0;
  left: 0;
  z-index: 4;
}

#match .row {
  clear: both;
}
#match .info-card .row {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.info-card .col-xs-12 {
  padding-left: 4px;
  padding-right: 4px;
}
.info-card .col-xs-4 p, .info-card .col-xs-8 p {
  font-size: 14px;
}
.info-card .col-xs-8 {
  text-align: left;
}
.info-card .col-xs-8 p {
  line-height: 1.8;
}
.info-card .col-xs-8 p span:nth-of-type(1):after {
  content: '\002F';
  padding-left: 5px;
  padding-right: 5px;
}
.info-card h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1;
  color: #6f6f6f;
  font-size: 1.5em;
  text-align: left;
}
.info-card h4, .info-card h5, .info-card h6 {
  margin: 0;
}
.info-card h4 {
  font-size: 1em;
}
.info-card h4 span:nth-of-type(1):after {
  content: '\002F';
  padding-left: 5px;
  padding-right: 5px;
}
.info-card h5 {
  font-size: 1.25em;
}
.info-card h5.margin {
  margin-bottom: 10px;
}
.info-card h6 {
  font-size: 1em;
  margin-top: 5px;
}
.info-card p {
  line-height: 1.5em;
}
.info-card .weather-icon {
  width: 36px;
  height: 32px;
  float: right;
}
.info-card .weather-icon img {
  width: 100%;
}
.info-card .row .col-xs-9, .info-card .row .col-xs-8 {
  padding-left: 4px;
  padding-right: 4px;
  color: #6f6f6f;
}
.info-card .row .col-xs-3, .info-card .row .col-xs-4 {
  padding-left: 4px;
  padding-right: 10px;
  color: #6f6f6f;
  text-align: right;
}
.info-card .row .col-xs-3 h4, .info-card .row .col-xs-4 h4 {
  font-size: 1.5em;
  text-align: right;
  clear: both;
  line-height: 1.1;
  font-weight: 400;
}
.info-card .row .col-xs-3 p, .info-card .row .col-xs-4 p {
  display: -webkit-flex;
  display: flex;
}
.info-card .row .col-xs-3 p span:nth-of-type(1), .info-card .row .col-xs-4 p span:nth-of-type(1) {
  text-align: center;
  width: 40px;
}
.info-card .row .col-xs-3 p span:nth-of-type(2), .info-card .row .col-xs-4 p span:nth-of-type(2) {
  text-align: right;
  -webkit-flex: 1;
  flex: 1;
}
.info-card .athlete-info {
  *zoom: 1;
  clear: both;
  margin-bottom: 10px;
}
.info-card .athlete-info:after, .info-card .athlete-info:before {
  content: "";
  display: table;
}
.info-card .athlete-info:after {
  clear: both;
}
#match .info-card {
  border-radius: 4px;
  margin-bottom: 20px;
}
#history-sport .info-card {
  margin-bottom: 20px;
}
@media screen and (max-width: 413px) {
  .info-card h3 {
    font-size: 1.25em;
  }
  .info-card .row .col-xs-3 h4 {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 320px) {
  .info-card .col-xs-4 p, .info-card .col-xs-8 p {
    font-size: 12px;
  }
  .info-card .col-xs-8 h4 {
    font-size: 15px;
  }
  .info-card .col-xs-8 p span:nth-of-type(1):after {
    padding-left: 3px;
    padding-right: 3px;
  }
  .info-card .col-xs-8 p:nth-of-type(1) {
    font-size: 15px;
  }
}

#match .athlete-info .table.main:nth-of-type(2) > div > div, #match .athlete-info .table.main:nth-of-type(3) > div > div {
  width: 50%;
}

.category {
  text-align: center;
  margin: 16px auto;
}
.category > div {
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  background: rgba(111, 111, 111, 0.15);
  width: 112px;
  height: 112px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ccc;
}
.category > div.sport-1 .icon {
  background: url("../images/sport1.png");
  background-position: center bottom;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .category > div.sport-1 .icon {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/sport1x2.png");
    background-size: 40px 76px;
  }
}
.category > div.sport-2 .icon {
  background: url("../images/sport2.png");
  background-position: center bottom;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .category > div.sport-2 .icon {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/sport2x2.png");
    background-size: 40px 76px;
  }
}
.category > div.sport-3 .icon {
  background: url("../images/sport3.png");
  background-position: center bottom;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .category > div.sport-3 .icon {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/sport3x2.png");
    background-size: 40px 76px;
  }
}
.category > div span {
  display: block;
  margin: 0 auto;
}
.category > div span.icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
.category > div span.distance {
  line-height: 1em;
}
.category > div span.time {
  font-size: 1.5em;
  line-height: 1.125em;
}
.category > div.live:after {
  content: "live";
  background: #D21F2A;
  color: #fff;
  padding: 0 10px;
  border-radius: 10px;
  line-height: 16px;
  font-size: 10px;
  position: relative;
  top: -2px;
  display: inline-block;
}
.category > div.finished {
  background: #fff;
  box-shadow: 0 0 0 3px #ff9473;
}
.category > div.finished span.icon {
  background-position: center top;
}
.category > div.finished span.distance, .category > div.finished span.time {
  text-shadow: none;
}
.category > div.finished span.time {
  color: #ef4130;
}
.category > div.finished span.distance {
  color: #6f6f6f;
}
.category > div a {
  padding: 10px 4px 0;
  display: block;
  color: #ccc;
}
@media screen and (max-width: 413px) {
  .category > div {
    width: 106px;
    height: 106px;
    margin: 3px;
  }
  .category > div span.time {
    font-size: 1.25em;
  }
  .category > div span.distance {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 374px) {
  .category {
    margin-left: -10px;
    margin-right: -10px;
  }
  .category > div {
    width: 97px;
    height: 97px;
    margin: 2px;
  }
}
@media screen and (max-width: 374px) and (min--moz-device-pixel-ratio: 1.3), screen and (max-width: 374px) and (-o-min-device-pixel-ratio: 2.6 / 2), screen and (max-width: 374px) and (-webkit-min-device-pixel-ratio: 1.3), screen and (max-width: 374px) and (min-device-pixel-ratio: 1.3), screen and (max-width: 374px) and (min-resolution: 1.3dppx) {
  .category > div:nth-of-type(1) .icon {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/sport1x2.png");
    background-size: 30px 54px;
  }
}
@media screen and (max-width: 374px) and (min--moz-device-pixel-ratio: 1.3), screen and (max-width: 374px) and (-o-min-device-pixel-ratio: 2.6 / 2), screen and (max-width: 374px) and (-webkit-min-device-pixel-ratio: 1.3), screen and (max-width: 374px) and (min-device-pixel-ratio: 1.3), screen and (max-width: 374px) and (min-resolution: 1.3dppx) {
  .category > div:nth-of-type(2) .icon {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/sport2x2.png");
    background-size: 30px 54px;
  }
}
@media screen and (max-width: 374px) and (min--moz-device-pixel-ratio: 1.3), screen and (max-width: 374px) and (-o-min-device-pixel-ratio: 2.6 / 2), screen and (max-width: 374px) and (-webkit-min-device-pixel-ratio: 1.3), screen and (max-width: 374px) and (min-device-pixel-ratio: 1.3), screen and (max-width: 374px) and (min-resolution: 1.3dppx) {
  .category > div:nth-of-type(3) .icon {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/sport3x2.png");
    background-size: 30px 54px;
  }
}
@media screen and (max-width: 374px) {
  .category > div span.icon {
    width: 30px;
    height: 30px;
  }
  .category > div span.time {
    font-size: 1.125em;
  }
  .category > div span.distance {
    font-size: 0.9em;
  }
}

.achievement {
  margin-bottom: 20px;
  text-align: center;
  *zoom: 1;
  color: #ef4130;
  padding-top: 20px;
}
.achievement:after, .achievement:before {
  content: "";
  display: table;
}
.achievement:after {
  clear: both;
}
.achievement .btn-custom-sm {
  margin: 10px auto;
  width: 120px;
}
.achievement > span {
  font-size: 1.5em;
}
.achievement .time {
  font-size: 48px;
  line-height: 1;
}
.achievement .total-ranking {
  font-size: 1.125em;
}
.achievement .ranking {
  font-size: 0.9em;
}
.achievement .total-ranking span, .achievement .ranking span {
  padding: 0 10px;
}

.category ~ .achievement {
  color: #6f6f6f;
}

#live-sport .col-md-4, #match .col-md-4 {
  padding-right: 0;
}
@media only screen and (max-width: 768px) {
  #live-sport .col-md-4, #match .col-md-4 {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.sport-info {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 6px 0 0;
  font-size: 16px;
  background: #fff;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(111, 111, 111, 0.1), 0 5px 20px rgba(111, 111, 111, 0.15);
}
#live-sport .sport-info, #match .sport-info {
  border: 1px solid #ccc;
  box-shadow: none;
  padding-bottom: 0;
}
.sport-info .sport-title {
  padding: 10px 0;
}
.sport-info p {
  color: #6f6f6f;
}
.sport-info .sport-achievement, .sport-info h6.sport-name {
  color: #6f6f6f;
  font-size: 1.25em;
}
.sport-info .sport-achievement {
  text-align: right;
}
.sport-info .sport-achievement span {
  padding: 0 6px;
}
.sport-info .col-xs-12 h6.sport-name {
  line-height: 1.1;
}
.sport-info h6.sport-name {
  font-weight: bold;
  margin: 0;
  text-align: left;
}
.sport-info h6.sport-name ~ p {
  text-align: left;
}
.sport-info .col-xs-4 {
  padding-right: 0;
}
.sport-info .col-xs-8 {
  padding-left: 0;
}
.sport-info .col-md-4 {
  padding-right: 0;
}
.sport-info.sport-1 h6.sport-name:before, .sport-info.sport-2 h6.sport-name:before, .sport-info.sport-3 h6.sport-name:before {
  content: "";
  width: 28px;
  height: 25px;
  display: inline-block;
  background-position: center top;
  position: absolute;
  top: 2px;
}
.sport-info.sport-1 h6.sport-name span, .sport-info.sport-2 h6.sport-name span, .sport-info.sport-3 h6.sport-name span {
  padding-left: 32px;
}
.sport-info.sport-1 .sport-name:before {
  background: url("../images/sport1.png");
  background-size: 28px 50px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .sport-info.sport-1 .sport-name:before {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/sport1x2.png");
    background-size: 28px 50px;
  }
}
.sport-info.sport-2 .sport-name:before {
  background: url("../images/sport2.png");
  background-size: 28px 50px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .sport-info.sport-2 .sport-name:before {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/sport2x2.png");
    background-size: 28px 50px;
  }
}
.sport-info.sport-3 .sport-name:before {
  background: url("../images/sport3.png");
  background-size: 28px 50px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .sport-info.sport-3 .sport-name:before {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/sport3x2.png");
    background-size: 28px 50px;
  }
}
.sport-info .split {
  clear: both;
  border-top: 1px solid #22c3b8;
}
.sport-info .split h5 {
  color: #22c3b8;
  padding-left: 14px;
  font-size: 1em;
  margin: 5px 0;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .sport-info .sport-title {
    text-align: left;
    height: 60px;
  }
}
@media screen and (max-width: 413px) {
  .sport-info .sport-achievement, .sport-info h6.sport-name {
    font-size: 1.125em;
  }
}
@media screen and (max-width: 374px) {
  .sport-info .sport-achievement, .sport-info h6.sport-name {
    font-size: 1em;
  }
}
@media only screen and (min-width: 769px) {
  .sport-info {
    padding-bottom: 0;
  }
}

.history {
  border-bottom: 1px solid #f1d0cc;
  margin-bottom: 30px;
  clear: both;
}
.history:nth-last-of-type(1) {
  margin-bottom: 0;
}
@media screen and (max-width: 374px) {
  .history .col-xs-8, .history .col-xs-4 {
    width: 100%;
    text-align: left !important;
    padding-left: 10px !important;
    line-height: 1.125em;
  }
  .history .col-xs-8 h6, .history .col-xs-4 h6 {
    margin: 0 !important;
  }
}

.table-btn {
  width: 100%;
  text-align: center;
  color: #FB6C48;
  background: #FFF3E1;
  border: 0;
  outline: 0;
  border-top: 1px solid #f1d0cc;
  font-size: 14px;
  line-height: 30px;
}
.table-btn i {
  padding-left: 10px;
}
.table-btn:focus {
  outline: 0;
}
.table-btn.open-close.collapsed:after {
  font-family: FontAwesome;
  content: "展開分段成績 \f107";
}
.table-btn.open-close:after {
  font-family: FontAwesome;
  content: "收合分段成績 \f106";
}

.select-style {
  margin: 0 auto 10px;
  width: 50%;
  float: right;
  position: relative;
  color: #6f6f6f;
}

#top-btn {
  background: #22c3b8;
  position: fixed;
  right: -50px;
  bottom: 70px;
  width: 50px;
  height: 50px;
  z-index: 101;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(76, 74, 72, 0.6), 0 5px 15px rgba(76, 74, 72, 0.3);
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}
#top-btn a {
  display: block;
  color: #fff;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
#top-btn.fixed {
  right: 6px;
  bottom: 70px;
}

.track {
  display: block;
  float: right;
  text-align: center;
  margin: 2px 2px 3px 0;
}
.track a {
  font-size: 0.9em;
  display: block;
  padding: 0 6px;
  line-height: 24px;
  border-radius: 2px;
  color: #fff;
  background: #ef4130;
}

p.results {
  text-align: center;
  color: #6f6f6f;
  font-size: 1.125em;
  padding: 20px 0;
  width: 90%;
  margin: 10px auto;
}

.search h3 {
  text-align: center;
  color: #ef4130;
  font-size: 1.5em;
}
.search h3 span {
  display: block;
  font-size: 0.8em;
}
.search h4 {
  margin-top: 0;
  text-align: center;
}
.search .sport-info {
  padding: 20px 20px 30px;
}
.search p {
  font-size: 1.125em;
  color: #6f6f6f;
}
.search .captcha {
  margin: 10px 0;
  border: 1px solid #f6f6f6;
  display: inline-block;
  color: #6f6f6f;
}
