.live-map {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: url("images/703bike_map.png");
  border: 1px solid #ccc;
}
.live-map .dashboard {
  z-index: 99;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  width: 200px;
  height: 80px;
  font-size: 1.25em;
  font-weight: 500;
  box-shadow: 0 0 2px 1px rgba(204, 204, 204, 0.8);
}
.live-map .dashboard .sport-icon, .live-map .dashboard .map-info {
  display: inline-block;
  vertical-align: top;
}
.live-map .dashboard .map-info > span {
  display: block;
  line-height: 30px;
}
.live-map .dashboard .map-info > span span {
  padding-right: 4px;
}
.live-map .dashboard .map-info > span span.item, .live-map .dashboard .map-info > span span.time {
  color: #fb6c48;
}
.live-map .dashboard .map-info > span .dist {
  color: #6f6f6f;
}
.live-map .dashboard .map-info > span .turn {
  background: #22c3b8;
  color: white;
  border-radius: 2px;
  padding: 0 5px;
  font-size: 14px;
  display: inline;
}
.live-map .sport-icon {
  width: 40px;
  height: 40px;
  margin-right: 3px;
  display: inline-block;
}
.live-map#map-sport1-1 {
  background: url("../images/703swim_map.png");
  background-size: cover;
}
.live-map#map-sport1-1 .sport-icon {
  background: url("../images/icon_swim.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport1-2 {
  background: url("../images/703bike_map.png");
  background-size: cover;
}
.live-map#map-sport1-2 .sport-icon {
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport1-3 {
  background: url("../images/703run_map.png");
  background-size: cover;
}
.live-map#map-sport1-3 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport1-3 .dashboard {
  right: 8px;
  left: auto;
}
@media screen and (max-width: 567px) {
  .live-map#map-sport1-3 .dashboard {
    padding: 10px 8px;
  }
}
.live-map#map-sport2-1 {
  background: url("../images/5i50swim_map.png");
  background-size: cover;
}
.live-map#map-sport2-1 .sport-icon {
  background: url("../images/icon_swim.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport2-1-2 {
  background: url("../images/5i50swim-run_map.png");
  background-size: cover;
}
.live-map#map-sport2-1-2 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport2-2 {
  background: url("../images/5i50bike_map.png");
  background-size: cover;
}
.live-map#map-sport2-2 .sport-icon {
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport2-3 {
  background: url("../images/5i50run_map.png");
  background-size: cover;
}
.live-map#map-sport2-3 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport2-3 .dashboard {
  right: 8px;
  left: auto;
}
@media screen and (max-width: 567px) {
  .live-map#map-sport2-3 .dashboard {
    padding: 10px 8px;
  }
}
.live-map#map-sport3-1 {
  background: url("../images/5i50run_map.png");
  background-size: cover;
}
.live-map#map-sport3-1 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport3-1 .dashboard {
  right: 8px;
  left: auto;
}
@media screen and (max-width: 567px) {
  .live-map#map-sport3-1 .dashboard {
    padding: 10px 8px;
  }
}
.live-map#map-sport4-1 {
  background: url("../images/DuathlonRun_Map.png");
  background-size: cover;
}
.live-map#map-sport4-1 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport4-2 {
  background: url("../images/DuathlonBike_Map.png");
  background-size: cover;
}
.live-map#map-sport4-2 .sport-icon {
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport4-3 {
  background: url("../images/DuathlonRun2_Map.png");
  background-size: cover;
}
.live-map#map-sport4-3 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport5-1 {
  background: url("../images/DuathlonTryTriRun_Map.png");
  background-size: cover;
}
.live-map#map-sport5-1 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport5-2 {
  background: url("../images/DuathlonTryTriBike_Map.png");
  background-size: cover;
}
.live-map#map-sport5-2 .sport-icon {
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport5-3 {
  background: url("../images/DuathlonTryTriRun2_Map.png");
  background-size: cover;
}
.live-map#map-sport5-3 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport6-1 {
  background: url("../images/TriathlonSwin_Map.png");
  background-size: cover;
}
.live-map#map-sport6-1 .sport-icon {
  background: url("../images/icon_swim.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport6-2 {
  background: url("../images/TriathlonBike_Map.png");
  background-size: cover;
}
.live-map#map-sport6-2 .sport-icon {
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport6-3 {
  background: url("../images/TriathlonRun_Map.png");
  background-size: cover;
}
.live-map#map-sport6-3 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport7-1 {
  background: url("../images/TriathlonTryTriSwin_Map.png");
  background-size: cover;
}
.live-map#map-sport7-1 .sport-icon {
  background: url("../images/icon_swim.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport7-2 {
  background: url("../images/TriathlonTryTriBike_Map.png");
  background-size: cover;
}
.live-map#map-sport7-2 .sport-icon {
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport7-3 {
  background: url("../images/TriathlonTryTriRun_Map.png");
  background-size: cover;
}
.live-map#map-sport7-3 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport8-1 {
  background: url("../images/FulongSwim_Map.png");
  background-size: cover;
}
.live-map#map-sport8-1 .sport-icon {
  background: url("../images/icon_swim.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport8-2 {
  background: url("../images/FulongBike_Map.png");
  background-size: cover;
}
.live-map#map-sport8-2 .sport-icon {
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport8-2 .dashboard {
  right: 8px;
  left: auto;
}
.live-map#map-sport8-3 {
  background: url("../images/FulongRun10k_Map.png");
  background-size: cover;
}
.live-map#map-sport8-3 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport8-3 .dashboard {
  right: 8px;
  left: auto;
}
.live-map#map-sport8-4 {
  background: url("../images/FulongRun3k_Map.png");
  background-size: cover;
}
.live-map#map-sport8-4 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport8-4 .dashboard {
  right: 8px;
  left: auto;
}
@media only screen and (max-width: 320px) {
  .live-map .dashboard {
    width: 154px;
    font-size: 14px;
    padding: 10px 4px;
  }
  .live-map#map-sport1-1 .sport-icon, .live-map#map-sport1-2 .sport-icon, .live-map#map-sport1-3 .sport-icon {
    width: 30px;
    height: 30px;
  }
}
.live-map#map-sport9-1 {
  background: url("../images/MasagoSwim_map.png");
  background-size: cover;
}
.live-map#map-sport9-1 .sport-icon {
  background: url("../images/icon_swim.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport9-2 {
  background: url("../images/MasagoBike_map.png");
  background-size: cover;
}
.live-map#map-sport9-2 .sport-icon {
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport9-3 {
  background: url("../images/MasagoRun_map.png");
  background-size: cover;
}
.live-map#map-sport9-3 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport9-3 .dashboard {
  right: 8px;
  left: auto;
}
.live-map#map-sport10-1 {
  background: url("../images/MasagoDuathlonRun_map.png");
  background-size: cover;
}
.live-map#map-sport10-1 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport10-1 .dashboard {
  right: 8px;
  left: auto;
}
.live-map#map-sport10-2 {
  background: url("../images/MasagoDuathlonBike_map.png");
  background-size: cover;
}
.live-map#map-sport10-2 .sport-icon {
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport10-3 {
  background: url("../images/MasagoDuathlonRun10k_map.png");
  background-size: cover;
}
.live-map#map-sport10-3 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport10-3 .dashboard {
  right: 8px;
  left: auto;
}
.live-map#map-sport11-1 {
  background: url("../images/PenghuSwim_Map.png");
  background-size: cover;
}
.live-map#map-sport11-1 .sport-icon {
  background: url("../images/icon_swim.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport12-1 {
  background: url("../images/PenghuBIke_Map.png");
  background-size: cover;
}
.live-map#map-sport12-1 .sport-icon {
  background: url("../images/icon_bike.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport12-1 .dashboard {
  right: 8px;
  left: auto;
  width: 154px;
  font-size: 14px;
  padding: 4px;
  height: auto;
}
.live-map#map-sport13-1 {
  background: url("../images/PenghuRun_Map.png");
  background-size: cover;
}
.live-map#map-sport13-1 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport14-1 {
  background: url("../images/BuyenPavilion211_Map.png");
  background-size: cover;
}
.live-map#map-sport14-1 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport14-1 .dashboard {
  right: 8px;
  left: auto;
}
.live-map#map-sport15-1 {
  background: url("../images/BuyenPavilion42195_Map.png");
  background-size: cover;
}
.live-map#map-sport15-1 .sport-icon {
  background: url("../images/icon_run.png") no-repeat;
  background-size: cover;
}
.live-map#map-sport15-1 .dashboard {
  right: 8px;
  left: auto;
}
.live-map img {
  width: 100%;
}
.live-map
.split-mask {
  position: relative;
  top: 0;
  left: 0;
  z-index: 4;
}
