.underline {
  text-decoration: underline;
  padding: 0 4px;
}

.input-password {
  position: relative;
}
.input-password .icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}
.input-password .icon-wrapper i {
  line-height: 34px;
  width: 34px;
  height: 34px;
  text-align: left;
  cursor: pointer;
}

input[type='password'], input[type='text'] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.member-form {
  margin-bottom: 50px;
}
.member-form h2 {
  font-size: 24px;
}
.member-form p {
  font-size: 15px;
  margin-bottom: 20px;
}
.member-form button {
  width: 100%;
  margin-bottom: 10px;
}
.member-form button.btn-secondary {
  color: #6f6f6f;
}
.member-form button i {
  color: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 28px;
  margin-right: 6px;
  text-align: center;
}
.member-form button i.fa-facebook {
  background: #3B5998;
}
.member-form button i.fa-google {
  background: #DC4E41;
}
.member-form .link a {
  color: #6f6f6f;
  text-decoration: underline;
}
.member-form .form-group {
  margin-bottom: 10px;
}
.member-form small {
  color: #6f6f6f;
  display: inline-block;
}
.member-form small.help-block {
  margin: 2px 0;
  color: #fb6c48;
}
.member-form small.countdown {
  float: right;
  margin: 2px 0;
}
.member-form .has-error .form-control {
  border: 1px solid #fb6c48;
}
.member-form .has-error .form-control:focus {
  border: 1px solid #ef4130;
}
@media only screen and (max-width: 320px) {
  .member-form p {
    font-size: 14px;
  }
}

.or-line {
  position: relative;
}
.or-line span {
  width: 40px;
  display: inline-block;
}
.or-line:before {
  content: '';
  display: inline-block;
  border-bottom: 1px solid #ccc;
}

.mytextdiv, .logo-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 26px 0;
}
.mytextdiv .mytexttitle, .mytextdiv .logo, .logo-line .mytexttitle, .logo-line .logo {
  flex-grow: 0;
  padding: 0 10px;
  color: #6f6f6f;
}
.mytextdiv .divider, .logo-line .divider {
  flex-grow: 1;
  height: 1px;
  background-color: #6f6f6f;
}

.logo-line img.logo {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 10px;
}
.logo-line .divider {
  background-color: #fb6c48;
}
.logo-line .divider.gray {
  background-color: #ccc;
}

.text {
  text-align: center;
}
.text a {
  color: #fb6c48;
}

form-group.required .control-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
  top: 7px;
}

.radio input[type="radio"] {
  margin-left: 0;
}

.radio {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  font-size: 16px;
  line-height: 32px;
}
.radio_input {
  position: absolute;
  top: 4px;
  left: 0;
  width: 36px;
  height: 20px;
  opacity: 0;
  z-index: 0;
}
.radio label {
  padding-left: 30px;
}
.radio_label {
  display: block;
  padding: 0 0 0 24px;
  cursor: pointer;
}
.radio_label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 3px solid #ccc;
  border-radius: 14px;
  z-index: 1;
  transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.radio_label:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 5px;
  width: 12px;
  height: 12px;
  background-color: #fb6c48;
  border-radius: 50%;
  z-index: 2;
  transform: scale(0, 0);
  transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.radio_input:checked + .radio_label:before {
  border-color: #ccc;
}
.radio_input:checked + .radio_label:after {
  transform: scale(1, 1);
}

.member-info h2 {
  font-size: 24px;
}
.member-info h4 {
  text-align: center;
  color: #fb6c48;
  margin-top: -30px;
}
.member-info h4 span {
  display: block;
}
.member-info h4 .name {
  font-size: 20px;
}
.member-info h4 .eng-name {
  font-weight: normal;
}
.member-info .btn-custom {
  width: 100%;
}
.member-info .avatar-wrapper {
  text-align: center;
}
.member-info .avatar {
  display: block;
  margin: 0 auto;
}
.member-info .camera {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  background: #fb6c48;
  width: 36px;
  height: 36px;
  line-height: 36px;
  position: relative;
  top: -30px;
  right: -36px;
  border-radius: 18px;
}
.member-info .basic-info {
  margin-top: 10px;
  color: #6f6f6f;
}
.member-info .basic-info span {
  display: block;
  margin-bottom: 4px;
}
.member-info .basic-info .mail {
  line-height: 1.2;
}
.member-info .basic-info button {
  float: right;
}
.member-info .basic-info [class*='col-'] {
  padding: 0;
}

.device-info h3, .device-sorting h3 {
  font-size: 22px;
  color: #6f6f6f;
  text-align: center;
  font-weight: normal;
}
.device-info h4, .device-sorting h4 {
  font-size: 22px;
  color: #fb6c48;
}
.device-info .btn-container, .device-sorting .btn-container {
  margin: 4px 0;
  text-align: right;
}
.device-info .btn-container .btn-secondary, .device-sorting .btn-container .btn-secondary {
  height: 34px;
  line-height: 34px;
}
.device-info [class*='col-'], .device-sorting [class*='col-'] {
  padding: 0;
}

.device-list {
  width: 98%;
  margin: 10px auto;
  background: #fff;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(76, 74, 72, 0.3);
  padding-bottom: 0;
  font-size: 16px;
}
.device-list li {
  line-height: 42px;
  padding-left: 16px;
  border-bottom: 1px solid #ccc;
}
.device-list li:nth-last-of-type(1) {
  border-bottom: 0;
}

.device-sorting .dragging, .device-sorting .dragging * {
  cursor: move !important;
}
.device-sorting .dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
.device-sorting .sort-list li {
  line-height: 42px;
  border-bottom: 1px solid #ccc;
  cursor: move;
  padding: 10px 0 10px 16px;
  display: flex;
}
.device-sorting .sort-list li:nth-last-of-type(1) {
  border-bottom: 0;
}
.device-sorting .sort-list li span {
  height: 42px;
  overflow: hidden;
  font-size: 15px;
}
.device-sorting .sort-list li span.device-name {
  flex: auto;
}
.device-sorting .sort-list li span.sort-icon {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  margin: 6px;
  background: url("../images/icon_sort.png") no-repeat right;
  background-size: 30px 30px;
}
.device-sorting .sort-list li img {
  width: 42px;
  height: 42px;
}
.device-sorting .sort-list li.placeholder {
  position: relative;
}
.device-sorting .sort-list li.placeholder:before {
  position: absolute;
}
.device-sorting .tab-content {
  padding: 0;
  background: #fff;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(76, 74, 72, 0.3);
  border-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: inset 0 0 2px rgba(0, 144, 134, 0.9);
}

.nav-tabs > li {
  width: 33.333%;
}
.nav-tabs > li:nth-of-type(1) {
  width: auto;
}
.nav-tabs > li:nth-of-type(1) > a {
  padding: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0;
}
.nav-tabs > li:nth-of-type(1) > a:before {
  background-image: url("../images/icon_tab_swim.png");
}
.nav-tabs > li:nth-of-type(2) > a:before {
  background-image: url("../images/icon_tab_bike.png");
}
.nav-tabs > li:nth-of-type(3) > a {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
}
.nav-tabs > li:nth-of-type(3) > a:before {
  background-image: url("../images/icon_tab_run.png");
}
.nav-tabs > li:nth-of-type(1).active > a:before, .nav-tabs > li:nth-of-type(1):hover > a:before, .nav-tabs > li:nth-of-type(2).active > a:before, .nav-tabs > li:nth-of-type(2):hover > a:before, .nav-tabs > li:nth-of-type(3).active > a:before, .nav-tabs > li:nth-of-type(3):hover > a:before {
  background-position: left top;
}
.nav-tabs > li:nth-of-type(1) > a:before, .nav-tabs > li:nth-of-type(2) > a:before, .nav-tabs > li:nth-of-type(3) > a:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 30px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left bottom;
  vertical-align: middle;
}
