@charset 'utf-8';
@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
//@import 'base/css3-mixins';

/* ------------ base ------------ */
body, html {
	min-height: 100%!important;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'times',"Microsoft JhengHei";
	word-wrap: break-word;
	word-break: normal;
	line-height: 1.85;
//	@include background-image(linear-gradient(160deg,$primary-color, $rose, $secondary-color));
//	background-attachment: fixed;
	background: #FFFDFB;
}

//basic style
h1, h2, h3, h4, h5, h6 {
	letter-spacing: 1px;
	line-height: 1.8;
	margin-top: 10px;
	margin-bottom: 10px;
}
*:hover {
	@include transition(color, .5s, ease-in);
}
h1 {}
h2 {}
h3 {
	color: $primary-color;
	font-size: $xxl-font;
}
p {
	font-size: $xs-font;
	font-weight: 200;
	margin-bottom: 0;
}
a {
	color: $primary-color;
	@include transition(color, .5s, ease-in);
	&:hover, &:focus { 
		text-decoration: none;
		color: $primary-color;
	}
}
hr {
}
.clearfix {
	@include clearfix;
}
ul, li {
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
	list-style: none;
}

//btn style
.btn {
	span {
		padding: 0 5px;
	}
	&.active {
		box-shadow: none;
	}
}
.btn-xs, .btn-group-xs > .btn {
	padding: 3px 6px;
	@include respond-to (xxs-mobile){
		padding: 1px 3px;
	}
}
.btn-group .btn + .btn, 
.btn-group .btn + .btn-group, 
.btn-group .btn-group + .btn, 
.btn-group .btn-group + .btn-group {
	margin-left: 1px;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
.btn-primary {
	@include background-image(linear-gradient(160deg,$primary-color, $rose, $secondary-color));
	&:hover, &:active, &:focus, &.active, &.dropdown-toggle, &.disabled {
		border: 0;
//		background-color: transparent;
	}
}
.btn-default {
	border: 0;
	border-radius: 0;
	width: 56px;
	text-align: center;
	&:hover, &:active, &:focus, &.active, &.dropdown-toggle, &.disabled {
		border: 0;
		color: $primary-color;
		background-color: transparent;
	}
	&:active {
		&:hover, &:focus {
			border: 0;
			color: $primary-color;
			background-color: transparent;
			box-shadow: none;
		}
	}
	&.dropdown-toggle {
		.open & {
			width: 56px;
			border: 0;
			color: $white;
			background: rgba($thirdary-color,.95);
			&:hover, &:focus, &.focus {
				border: 0;
				color: $white;
				background: rgba($thirdary-color,.95);
			}
		}
	}
	&.disabled {
		background-color: transparent;
		border: 0;
		&:hover, &:focus, &.focus, &:active, &.active, &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled].focus, &[disabled]:active, &[disabled].active {
			border: 0;
			background-color: transparent;
		}
	}
	@include respond-to (normal-mobile){
		font-size: 12px;
	}
}
.dropdown-menu {
	min-width: 0;
	border: 0;
	padding: 0;
	background: rgba($thirdary-color,.95);
	border-radius: 0 0 4px 4px;
	margin: 0;
	overflow: hidden;
	width: 56px;
	text-align: center;
	> li {
		> a {
			color: $white;
			padding: 6px 20px;
			&:hover, &:focus {
				color: $white;
				background: rgba($primary-color,.8);
			}
		}
	}
	@include respond-to (normal-mobile){
		font-size: 12px;
	}
}
.btn-sm {
	color: $light-gray;
	border-radius: 4px;
	padding: 8px 16px;
	font-size: $xs-font;
//	margin: 0 5px;
	@include respond-to (xxs-mobile){
		font-size: $xxs-font;
		padding: 4px 8px;
	}
}
//input
.radio-style {
	margin-bottom: 20px;
	label.btn {
		text-align: left;
		span {
			font-size: $l-font;
		}
	}
	label input[type="radio"] ~ i.fa.fa-circle-o {
		color: #c8c8c8;
		display: inline;
	}
	label input[type="radio"] ~ i.fa.fa-dot-circle-o {
		display: none;
	}
	label input[type="radio"]:checked ~ i.fa.fa-circle-o {
		display: none;
	}
	label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o {
		color: $primary-color;
		display: inline;
	}
	label:hover input[type="radio"] ~ i.fa {
		color: $primary-color;
	}
	.fa-2x {
		font-size: $xxl-font;
	}
}
.btn-custom {
	cursor: pointer;
	position: relative;
	display: block;
	text-align: center;
	margin: 10px auto;
	font-weight: bold;
	border-radius: 5px;
	-webkit-backface-visibility: hidden;
	z-index: 1;
	@include background-image(linear-gradient(220deg,$primary-color, $rose, $secondary-color));
	@include box-light-shadow;
	@include text-primary-shadow;
	a {
		font-size: $m-font;
		display: block;
		padding: 6px 10px;
		border-radius: 4px;
		color: $white;
	}
	&:hover {
		&:after {
			opacity: 1;
		}
	}
	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 0.3em;
		@include background-image(linear-gradient(140deg,$primary-color, $rose, $secondary-color));
		transition: opacity 0.5s ease-out;
		z-index: 2;
		opacity: 0;
	}
	span {
		position: relative;
		z-index: 3;
	}
	.card & {
		padding: 6px 10px;
		border-radius: 4px;
		color: $white;
		width: 220px;
		box-shadow: none;
		clear: both;
		@include respond-to (only-desktop){
			position: absolute;
			width: 120px;
			top: 5px;
			right: 15px;
			font-size: $s-font;
			a {
				font-size: $s-font;
			}
		}
	}
}
#single-match-results {
	.btn-custom {
		@include respond-to (only-desktop){
			position: relative;
//			width: 120px;
		}
	}
}
.btn-custom-sm {
	line-height: 20px;
	box-shadow: none;
	cursor: pointer;
	position: relative;
	display: block;
	text-align: center;
	margin: 6px auto;
	font-weight: bold;
//	background: $DarkTurquoise;
	border: 2px solid $orange;
	background: white;
	border-radius: 5px;
	padding: 4px;
	box-shadow: 0 2px 0 $rose;
	a {
		padding: 2px 4px;
		color: $orange;
//		text-shadow: 0 0 3px #009086;
	}
	@include respond-to (normal-mobile){
		font-size: $s-font;
		a {
			padding: 2px;
		}
	}
}
.input-group {
	.btn-secondary {
		height: 40px;
		width: 40px;
		background: $orange url('../images/icon-search.png') no-repeat 8px 7px;
		background-size: 22px;
	}
	.form-control {
		height: 40px;
		line-height: 40px;
		border: 1px solid $orange;
		box-shadow: none!important;
	}
}
//basic
.wrapper {
	min-height: 100%;
	padding: 70px 0 100px;
	#search & {
		padding-top: 50px;
	}
	@media screen and (min-width: 1336px) {
		padding-top: 70px;
	}
//	> .container {
//		padding-bottom: 100px;
//	}
}
header {
	background: rgba($light-skin,.8);
	text-align: center;
	height: 50px;
	border-bottom: 1px solid $skin;
	.container {
		position: relative;
	}
	h2.logo {
		margin: 0 auto;
		line-height: 0;
		img {
			width: 160px;
			padding: 10px 0;
		}
	}
	.back, h2.logo, .dropdown, .search {
		display: inline-block;
		vertical-align: top;
		a {
			display: block;
		}
	}
	.back {
		position: absolute;
		line-height: 50px;
		left: 8px;
		top: 0;
		a {
			padding: 0 8px;
		}
		i {
			padding-right: 6px;
		}
	}
	.right-nav {
		position: absolute;
		right: 0;
		top: 0;
	}
	.dropdown, .search {
		height: 50px;
		line-height: 50px;
		vertical-align: top;
	}
	.search {
		width: 40px;
		font-size: 1.3em;
		margin-right: 6px;
		a {
			line-height: 48px;
		}
	}
	.dropdown {
		.btn {
			vertical-align: top;
			padding: 0 6px;
			line-height: 50px;
			color: $primary-color;
			font-size: $m-font;
			i {
				padding-left: 5px;
			}
		}
	}
	.btn-default {
		border: 0;
	}
	@include respond-to (normal-mobile){
		.back {
			font-size: 12px;
			left: 0;
		}
		h2.logo {
			img {
				width: 130px;
			}
		}
	}
	@include respond-to (xxs-mobile){
		.dropdown {
			.btn {
				width: 40px;
			}
		}
		h2.logo {
			img {
				width: 110px;
			}
		}
	}
}
footer {
	text-align: center;
	font-size: $xs-font;
	color: $gray;
	margin-top: 0;
	line-height: 20px;
	background: $light-skin;
	height: 60px;
	margin-top: -60px;
	.container {
		border-top: 1px solid $light-gray;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	a {
		color: $gray;
		text-decoration: underline;
	}
	span {
		margin: 0 5px;
		&:nth-last-of-type(1) {
			display: block;
		}
	}
	@include respond-to (normal-mobile){
		height: 80px;
		margin-top: -80px;
		span {
			display: block;
		}
	}
}
.container {
	@media screen and (max-width: 413px) {
		padding-left: 8px;
		padding-right: 8px;
	}
}
//element
.row {
	margin: 0;
}
.table {
	display: table;
	width: 100%;
	margin: 0;
	font-size: $s-font;
	color: $dark;
	border-bottom: 1px solid $light-gray;

	div {
		padding: 6px;
		text-align: center;
	}
	> div {
		display: table-row;
		> div {
			display: table-cell;
		}
	}
	&.main > div:nth-of-type(odd) {
		background: $light-gray;
		color: $dark;
	}
	&.sub > div:nth-of-type(odd) {
		background: WhiteSmoke;
	}
	span:nth-of-type(1) {
		&:after {
			content: '\002F';
			padding: 0 3px;
		}
	}
}
.tab-container {
	padding: 5px;
	border: 1px solid $medium-gray;
	background: white;
	border-radius: 4px;
}
.table-responsive {
	color: $gray;
	border: 0;
	margin-bottom: 0!important;
	font-size: 15px;
	
	.table {
		thead, tr, th  {
			border: 0;
			
		}
		> thead > tr > th {
		}
		th {
			background: $light-gray;
			
		}
		th, td {
			text-align: center;
		}
	}
}


a.card-link {
	display: block;
}
a.card-link .card {
	color: $dark-gray;
	display: block;
}
.line {
	width: 100%;
	background: url(../images/line.png) no-repeat center center;
	height: 40px;
	margin: 20px auto 20px;
}

//////---index search
//#section1
.top-banner {
	position: relative;
	padding: 0;
	@include box-primary-shadow;
	img {
		width: 100%;
	}
	.search-container {
		width: 100%;
		z-index: 3;
		background: $light-gray;
		h3 {
			margin: 0;
			color: $gray;
//			@include text-primary-shadow;
			text-align: center;
		}
		.single-match {
			width: 60%;
			margin: 0 auto;
			padding: 10px;
			.input-group {
//				@include box-light-shadow;
			}
			h5 {
				text-align: center;
			}
		}
	}
	.match-info {
		margin-top: -32px;
		width: 100%;
		color: $red;
		height: 32px;
		padding: 4px 10px;
		font-weight: bold;
		.countdown {
			line-height: 20px;
			width: 65%;
			display: inline-block;
//			@include text-light-shadow;
			span {
				font-size: $xl-font;
				&.live {
					border-radius: 10px;
					background: $red;
					color: white;
					padding: 0 10px;
					margin-right: 4px;
					font-size: $s-font;
					
				}
//				@include text-light-shadow;
			}
		}
		.btn-container {
			width: 80px;
			float: right; 
			display: inline-block;
			.btn-custom-sm {
				margin-top: -6px;
			}
		}
	}
	@include respond-to (only-device){
		.search-container {
			h3 {
				font-size: $l-font;
			}
			.single-match {
				width: 100%;
				padding: 10px 10px 14px;
			}
		}
	}
	@media screen and (max-width: 767px) {
		.match-info {
//			margin-top: 0;
			
			.countdown {
//				width: 100%;
//				text-align: center;
			}
			.btn-container {
//				position: absolute;
//				bottom: 100px;
//				right: 0;
//				width: 70px;
//				float: none; 
//				display: inline-block;
			}
		}
	}
	@include respond-to (normal-mobile){
		.search-container {
			h3 {
			}
			.single-match {
				width: 100%;
			}
		}
		.match-info {
//			padding: 8px 10px;
			.countdown {
				span {
					font-size: $s-font;
				}
			}
			.btn-container {
//				width: 70px;
			}
		}
	}
	@include respond-to (xxs-mobile){
		.match-info {
			margin-top: 0;
			background: #f9f9f9;
			border-bottom: 1px solid #fff;
			height: 36px;
			.btn-container {
				.btn-custom-sm {
					margin-top: 0;
				}
			}
		}
	}
	@media screen and (min-width: 1336px) {
		&.container {
			width: 1336px;
		}
	}
	@media screen and (max-width: 1336px) {
		&.container {
			width: 100%;
		}
	}
}
.arrow {
	width: 60px;
	height: 60px;
	cursor: pointer;
	.arrow-right , .arrow-left  {
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
		width: 30px;
		height: 30px;
		display: block;
		position: relative;
	}
	.arrow-right {
		border-top: 2px solid $primary-color;
		border-left: 2px solid $primary-color;
		top: 14px;
		left: 6px;
	}
	.arrow-left {
		top: 14px;
		left: 20px;
		border-bottom: 2px solid $primary-color;
		border-right: 2px solid $primary-color;
	}
	@include respond-to (normal-mobile){
		width: 40px;
		height: 40px;
		.arrow-right , .arrow-left  {
			width: 20px;
			height: 20px;
			top: 10px;
			left: 10px;
		}
	}
}
.carousel-control {
	opacity: 1;
	height: 60px;
	width: 60px;
	top: 30%;	
	&.left, &.right {
		background-image: none;
	}
	@include respond-to (normal-mobile){
		top: 30px;
		height: 40px;
		width: 40px;
	}
}
.modal-body {
	padding: 20px;
}
.close {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	opacity: 1;
	overflow: hidden;
	display: inline-block;
	z-index: 9999;
	cursor: pointer;
	top: 12px;
	right: 12px;
	background: $light-gray;
	&:hover {
		@include transparent($dark-gray,.2);
		&::before, &::after {
			background: $dark-gray;
		}
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 1px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: $dark-gray;
	}
	&::before {
		@include transform(rotate(45deg));
	}
	&::after {
		@include transform(rotate(-45deg));
	}
}
//#section2
#section2 {
	margin-top: 40px;
	.container {
//		padding-bottom: 100px;
		h2 {
			font-size: $xl-font;
			text-align: center;
			font-weight: 900;
			color: $gray;
		}
	}
	@include respond-to (normal-mobile){
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

///single-match-results
#single-match-results {
	h2 {
		font-size: $xxxl-font;
		text-align: center;
		line-height: $xl-font;
		color: $dark;
		span {
			display: block;
			font-size: 20px;
		}
	}
	p.results {
		margin: 20px auto 10px;
		border-top: 1px solid $medium-gray;
	}
}
.card {
	@include card-style;
	@include box-primary-shadow;
	text-align: center;
	position: relative;
	.name {
		background: $light-gray;
		font-size: 1.35em;
		padding: 6px 20px;
		font-weight: bold;
		padding: 10px;
		width: 100%;
		span {
			&:nth-of-type(1) {
				&:after {
					content: '|';
					padding: 0 10px;
					color: #aaa;
				}
			}
		}
	}
	.other-info {
		font-size: $l-font;
		padding: 6px 20px;
		line-height: 1.2;
		padding: 10px;
		line-height: 1.6;
		.col-md-6 {
			padding-left: 2px;
			padding-right: 2px;
		}
		span {
			margin-right: 10px;
		}
	}
}

///////----------------results
#results {
	p.results {
		padding: 0;
	}
	.athlete {
		border-bottom: 1px solid $peach;
	}
	.btn-custom-sm {
		width: 120px;
		float: right;
	}
}
.result-info {
//	padding-top: 10px;
//	padding-bottom: 40px;
	.sport-info {
		padding-top: 0;
	}
	h5 {
		font-size: $xxl-font;
		text-align: center;
		color: $primary-color;
		&.live {
			&:after {
				content: ('live');
				background: $red;
				color: $white;
				padding: 0 10px;
				border-radius: 10px;
				line-height: 16px;
				font-size: 10px;
				margin-left: 5px;
				box-shadow: 0 0 10px rgba($white,.6), 0 0 4px rgba($white,.6);
				display: inline-block;
			}
		}
	}
	.col-xs-4 {
		text-align: right;
	}
	@media screen and (max-width: 413px) {
		.col-xs-4 {
			padding-left: 6px;
			padding-right: 6px;
		}
		.col-xs-8 {
			padding-left: 6px;
			padding-right: 6px;
		}
	}
	@media screen and (max-width: 320px) {
		.col-xs-4 {
			padding-left: 2px;
			padding-right: 2px;
		}
		.col-xs-8 {
			padding-left: 2px;
			padding-right: 2px;
		}
	}
}
///////----------------athlete
.athlete {
	width: 96%;
	margin: 0 auto;
	padding-bottom: 20px;
	color: $gray;
	line-height: $xl-font;
	.col-xs-8, .col-xs-12 {
		padding-left: 0;
		line-height: 30px;
	}
	.col-xs-4 {
		text-align: right;
		padding-right: 0;
		line-height: 30px;
//		h5 {
//			margin-top: 5px;
//			line-height: 1.6;
//			.fraction {
//				font-size: $xxl-font;
//			}
//		}
	}
//	h3 {
//		color: $primary-color;
//		border-bottom: 1px solid $rose;
//		i {
//			margin-right: 5px;
//		}
//	}
	h4 {
		font-size: $xl-font;
		margin: 0;
	}
	.gender {
		&:after {
			content: '\002F';
			padding-left: 5px;
		}
	}
	#match & {
		padding-bottom: 10px;
	}
	@include respond-to (xxs-mobile){
		h4 {
			font-size: $l-font;
		}
//		h5 {
//			font-size: $s-font;
//		}
//		.col-xs-4 {
//			h5 {
//				.fraction {
//					font-size: $xl-font;
//				}
//			}
//		}
	}
}
.nav-tabs {
	text-align: center;
	display: table;
	padding: 0;
	margin: 0;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
//	margin-left: -1px;
//	margin-right: -1px;
	border-bottom: 2px solid $DarkTurquoise;
	> li {
		display: table-cell;
//		width: 33.16%;
//		display: inline-block;
		text-align: center;
		margin: 0;
//		margin-left: -2px;
		float: none;
		font-size: 14px;
		border-right: 1px solid $light-skin;
//		margin-left: -1px;
		&.live {
			position: relative;
			&:after {
				content: ('live');
				background: $red;
				color: $white;
				padding: 0 10px;
				border-radius: 10px;
				line-height: 16px;
				font-size: 10px;
				position: absolute;
				top: -6px;
				right: 2px;
				display: inline-block;
				box-shadow: 0 0 0 2px white;
			}
		}
		&:nth-of-type(1) {
			margin-left: 0;
		}
		> a {
			border-radius: 4px 4px 0 0;
			line-height: $xl-font;
			padding: 10px 6px 12px 6px;
			box-shadow: inset 0 0 2px rgba(#009086,.6);
			background: rgba($DarkTurquoise,.2);
			color: $gray;
			margin: 0;
			border: 0!important;
			&:hover, &:focus {
				background: $DarkTurquoise;
				color: white;
				border: 0;
				box-shadow: none;
			}
		}
		&.active {
			border: 0;
			border-right: 1px solid $light-skin;
			> a {
				background: $DarkTurquoise;
				color: white;
				border: 0;
//				box-shadow: inset 0 -4px 0 $orange;
				&:hover, &:focus {
					background: $DarkTurquoise;
					color: white;
				}
			}
		}
		&:nth-last-of-type(1) {
			border-right: 0;
		}
	}
	@media screen and (max-width: 590px) {
//		margin-left: -1px;
//		margin-right: -1px;
		> li {
//			width: 33%;
		}
	}
	@include respond-to (xxs-mobile){
		> li {
			font-size: 12px;
		}
	}
}
.tab-content {
	padding-top: 20px;
	.row {
		text-align: center;
		.col-sm-4 {
			display: inline-block;
			float: none;
			vertical-align: top;
			margin-left: -4px;
			padding-left: 6px;
			padding-right: 6px;
		}
	}
	.btn-custom-sm {
		width: 120px;
	}
}
#match .athlete {
	.btn-custom-sm {
		width: 110px;
		float: right;
		margin-top: -4px;
//		margin-bottom: 4px;
	}
}
.select-container {
	width: 100%;
	height: 60px;
}
.transcripts-print {
	margin: 20px auto;
	width: 220px;
//	@include respond-to (normal-mobile){
//		width: 100%;
//	}
}

.live-map {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: url('images/703bike_map.png');
	border: 1px solid $medium-gray;
//	margin: 20px auto;
//	background-size: cover;
	
	.dashboard {
		z-index: 99;
		position: absolute;
		top: 8px;
		left: 8px;
		padding: 10px;
		background: rgba($white,.8);
		width: 200px;
		height: 80px;
		font-size: $xl-font;
		font-weight: 500;
		box-shadow: 0 0 2px 1px rgba($medium-gray,.8);
		.sport-icon, .map-info {
			display: inline-block;
			vertical-align: top;
		}
		.map-info > span {
			display: block;
			line-height: 30px;
			span {
				padding-right: 4px;
				&.item, &.time {
					color: $primary-color;
				}
			}
			.dist {
				color: $gray;
			}
			.turn {
				background: $DarkTurquoise;
				color: white;
				border-radius: 2px;
				padding: 0 5px;
				font-size: 14px;
				display: inline;
			}
		}
	}
	.sport-icon {
		width: 40px;
		height: 40px;
		margin-right: 3px;
		display: inline-block;
	}
	&#map-sport1-1 {
		background: url('../images/703swim_map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_swim.png') no-repeat;
			background-size: cover;
		}
	}
	&#map-sport1-2 {
		background: url('../images/703bike_map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_bike.png') no-repeat;
			background-size: cover;
		}
	}
	&#map-sport1-3 {
		background: url('../images/703run_map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_run.png') no-repeat;
			background-size: cover;
		}
		.dashboard {
			right: 8px;
			left: auto;
		}
		@media screen and (max-width: 567px) {
			.dashboard {
				padding: 10px 8px;
			}
		}
	}
	&#map-sport2-1 {
		background: url('../images/5i50swim_map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_swim.png') no-repeat;
			background-size: cover;
		}
	}
	&#map-sport2-1-2 {
		background: url('../images/5i50swim-run_map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_run.png') no-repeat;
			background-size: cover;
		}
	}
	&#map-sport2-2 {
		background: url('../images/5i50bike_map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_bike.png') no-repeat;
			background-size: cover;
		}
	}
	&#map-sport2-3 {
		background: url('../images/5i50run_map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_run.png') no-repeat;
			background-size: cover;
		}
		.dashboard {
			right: 8px;
			left: auto;
		}
		@media screen and (max-width: 567px) {
			.dashboard {
				padding: 10px 8px;
			}
		}
	}
	&#map-sport3-1 {
		background: url('../images/5i50run_map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_run.png') no-repeat;
			background-size: cover;
		}
		.dashboard {
			right: 8px;
			left: auto;
		}
		@media screen and (max-width: 567px) {
			.dashboard {
				padding: 10px 8px;
			}
		}
	}
//	DuathlonRun
	&#map-sport4-1 {
		background: url('../images/DuathlonRun_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_run.png') no-repeat;
			background-size: cover;
		}
	}
//	DuathlonBike
	&#map-sport4-2 {
		background: url('../images/DuathlonBike_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_bike.png') no-repeat;
			background-size: cover;
		}
	}
//	DuathlonRun2
	&#map-sport4-3 {
		background: url('../images/DuathlonRun2_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_run.png') no-repeat;
			background-size: cover;
		}
	}
//	DuathlonTryTriRun
	&#map-sport5-1 {
		background: url('../images/DuathlonTryTriRun_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_run.png') no-repeat;
			background-size: cover;
		}
	}
//	DuathlonTryTriBike
	&#map-sport5-2 {
		background: url('../images/DuathlonTryTriBike_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_bike.png') no-repeat;
			background-size: cover;
		}
	}
//	DuathlonTryTriRun2
	&#map-sport5-3 {
		background: url('../images/DuathlonTryTriRun2_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_run.png') no-repeat;
			background-size: cover;
		}
	}
//	TriathlonSwin
    &#map-sport6-1 {
		background: url('../images/TriathlonSwin_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_swim.png') no-repeat;
			background-size: cover;
		}
	}
//	TriathlonBike
    &#map-sport6-2 {
		background: url('../images/TriathlonBike_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_bike.png') no-repeat;
			background-size: cover;
		}
	}
//	TriathlonRun
    &#map-sport6-3 {
		background: url('../images/TriathlonRun_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_run.png') no-repeat;
			background-size: cover;
		}
	}
//	TriathlonTryTriSwim
    &#map-sport7-1 {
		background: url('../images/TriathlonTryTriSwin_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_swim.png') no-repeat;
			background-size: cover;
		}
	}
//	TriathlonTryTriBike
    &#map-sport7-2 {
		background: url('../images/TriathlonTryTriBike_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_bike.png') no-repeat;
			background-size: cover;
		}
	}
//	TriathlonTryTriRun
    &#map-sport7-3 {
		background: url('../images/TriathlonTryTriRun_Map.png');
		background-size: cover;
		.sport-icon {
			background: url('../images/icon_run.png') no-repeat;
			background-size: cover;
		}
	}
	@include respond-to (xxs-mobile){
		.dashboard {
			width: 154px;
			font-size: 14px;
			padding: 10px 4px;
		}
		&#map-sport1-1, &#map-sport1-2, &#map-sport1-3 {
			.sport-icon {
				width: 30px;
				height: 30px;
			}
		}
	}
	
	img {
		width: 100%;
	}
	&
	.split-mask {
		position: relative;
		top: 0;
		left: 0;
		z-index: 4;
//		top:0;
//		position: absolute;
//		background: red;
//		width: 100%;
//		border: 10px solid red;
	}
}

#match {
	.row {
		clear: both;
	}
	.info-card {
		.row {
			
			padding-bottom: 10px;
			border-bottom: 1px solid $medium-gray;
		}
	}
}
.info-card {
//	background: $white;
//	padding: 10px 0 0;
//	border-radius: 0 0 4px 4px;
//	overflow: hidden;
//	@include card-style;
//	border-bottom: 1px solid $medium-gray;
	
	
	.col-xs-12 {
		padding-left: 4px;
		padding-right: 4px;
	}
	.col-xs-4, .col-xs-8 {
		p {
			font-size: 14px;
		}
	}
	.col-xs-8 {
		text-align: left;
		p {
			line-height: 1.8;
			
			span {
				&:nth-of-type(1):after {
					content: '\002F';
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
	}
	h3 {
		margin-top: 5px;
		margin-bottom: 5px;
		line-height: 1;
		color: $gray;
		font-size: $xxl-font;
		text-align: left;
	}
	h4, h5, h6 {
		margin: 0;
	}
	h4 {
		font-size: $m-font;
		span {
			&:nth-of-type(1):after {
				content: '\002F';
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
	h5 {
		font-size: $xl-font;
//		color: $primary-color;
		&.margin {
			margin-bottom: 10px;
		}
	}
	h6 {
		font-size: $m-font;
//		color: $primary-color;
		margin-top: 5px;
	}
	p {
		line-height: $xxl-font;
	}
//	.col-xs-9 p {
//		span {
//			&:nth-of-type(1) {
//				&:after {
//					content: ('\002F');
//					padding: 0 5px;
//				}
//			}
//		}
//	}
	.weather-icon {
		width: 36px;
		height: 32px;
		float: right;
		img {
			width: 100%;
		}
	}
	.row {
		.col-xs-9, .col-xs-8 {
			padding-left: 4px;
			padding-right: 4px;
			color: $gray;
		}
		.col-xs-3, .col-xs-4 {
			padding-left: 4px;
			padding-right: 10px;
			color: $gray;
			text-align: right;
			h4 {
				font-size: $xxl-font;
				text-align: right;
				clear: both;
				line-height: 1.1;
				font-weight: 400;
			}
			p {
				display: -webkit-flex;
				display: flex;
				span {
					&:nth-of-type(1) {
						text-align: center;
						width: 40px;
					}
					&:nth-of-type(2) {
						text-align: right;
						-webkit-flex: 1;
						flex: 1;
					}
				}
			}
		}
	}
	.athlete-info {
		@include clearfix;
//		margin-top: 10px;
		clear: both;
		margin-bottom: 10px;
	}
	#match & {
		border-radius: 4px;
		margin-bottom: 20px;
	}
	#history-sport & {
    	margin-bottom: 20px;
	}
	@media screen and (max-width: 413px) {
		h3 {
			font-size: $xl-font;
		}
		.row {
			.col-xs-3 {
				h4 {
					font-size: $xl-font;
				}
			}
		}
	}
	@include respond-to (xxs-mobile){
		.col-xs-4, .col-xs-8 {
			p {
				font-size: 12px;
			}
			
		}
		
		.col-xs-8 {
			h4 {
				font-size: 15px;
			}
			p {
				span {
					&:nth-of-type(1):after {
						padding-left: 3px;
						padding-right: 3px;
					}
				}
				&:nth-of-type(1) {
					font-size: 15px;
				}
			}
		}
	}
}
#match .athlete-info {
	.table.main {
		&:nth-of-type(2), &:nth-of-type(3) {
			> div {
				> div {
					width: 50%;
				}

			}
		}
	}
}
.category {
	text-align: center;
	margin: 16px auto;
	> div {
		display: inline-block;
		vertical-align: top;
		margin: 6px;
		background: rgba($gray,.15);
		width: 112px;
		height: 112px;
		border-radius: 50%;
		box-shadow: 0 0 0 1px $medium-gray;
		&.sport-1 {
			.icon {
				background: url('../images/sport1.png');
				@include image-2x("../images/sport1x2.png", 40px, 76px);
				background-position: center bottom;
			}
		}
		&.sport-2 {
			.icon {
				background: url('../images/sport2.png');
				@include image-2x("../images/sport2x2.png", 40px, 76px);
				background-position: center bottom;
			}
		}
		&.sport-3 {
			.icon {
				background: url('../images/sport3.png');
				@include image-2x("../images/sport3x2.png", 40px, 76px);
				background-position: center bottom;
			}
		}
		span {
			display: block;
			margin: 0 auto;
			&.icon {
				width: 40px;
				height: 40px;
				background-repeat: no-repeat;
			}
			&.distance, &.time {
//				color: $white;
//				@include text-primary-shadow;
			}
			&.distance {
				line-height: $m-font;
			}
			&.time {
				font-size: $xxl-font;
				line-height: $l-font;
			}
		}
		&.live {
			&:after {
				content: ('live');
				background: $red;
				color: $white;
				padding: 0 10px;
				border-radius: 10px;
				line-height: 16px;
				font-size: 10px;
				position: relative;
				top: -2px;
				display: inline-block;
			}
		}
		&.finished {
			background: $white;
			box-shadow: 0 0 0 3px $rose;
//			border: 3px solid $rose;
//			@include box-light-shadow;
			span {
				&.icon {
					background-position: center top;
				}
				&.distance, &.time {
					text-shadow: none;
				}
				&.time {
					color: $primary-color;
				}
				&.distance {
					color: $gray;
				}
			}
		}
		a {
			padding: 10px 4px 0;
			display: block;
			color: $medium-gray;
		}
	}
	@media screen and (max-width: 413px) {
		> div {
			width: 106px;
			height: 106px;
			margin: 3px;
			span {
				&.time {
					font-size: $xl-font;
				}
				&.distance {
					font-size: $s-font;
				}
			}
		}
	}
	@media screen and (max-width: 374px) {
		margin-left: -10px;
		margin-right: -10px;
		> div {
			width: 97px;
			height: 97px;
			margin: 2px;
			&:nth-of-type(1) {
				.icon {
					@include image-2x("../images/sport1x2.png", 30px, 54px);
				}
			}
			&:nth-of-type(2) {
				.icon {
					@include image-2x("../images/sport2x2.png", 30px, 54px);
				}
			}
			&:nth-of-type(3) {
				.icon {
					@include image-2x("../images/sport3x2.png", 30px, 54px);
				}
			}
			span {
				&.icon {
					width: 30px;
					height: 30px;
				}
				&.time {
					font-size: $l-font;
				}
				&.distance {
					font-size: $s-font;
				}
			}
		}
	}
}
.achievement {
	margin-bottom: 20px;
	text-align: center;
	@include clearfix;
//	@include text-primary-shadow;
	color: $primary-color;
	padding-top: 20px;
	.btn-custom-sm {
//		float: none!important;
		margin: 10px auto;
		width: 120px;
	}
	> span {
		font-size: $xxl-font;
	}
	.time {
		font-size: 48px;
		line-height: 1;
	}
	.total-ranking {
		font-size: $l-font;
	}
	.ranking {
		font-size: $s-font;
	}
	.total-ranking, .ranking {
		span {
			padding: 0 10px;
		}
	}
}
.category ~ .achievement {
	color: $gray;
}
#live-sport , #match {
	.col-md-4 {
		padding-right: 0;
	}
	@include respond-to (only-device){
		.col-md-4 { 
			padding-left: 4px;
			padding-right: 4px;
		}
	}
}
.sport-info {
	background: $white;
	margin-bottom: 20px;
	border-radius: 4px;
	padding: 6px 0 0;
	font-size: 16px;
//	border: 1px solid $light-gray;
	@include card-style;
	#live-sport &, #match & {
		border: 1px solid $medium-gray;
		box-shadow: none;
		padding-bottom: 0;
	}
	
	.sport-title {
		padding: 10px 0;
	}
	p {
		color: $gray;
	}
	.sport-achievement, h6.sport-name {
		color: $gray;
		font-size: $xl-font;
	}
	.sport-achievement {
		text-align: right;
		span {
			padding: 0 6px;
		}
	}
	.col-xs-12 {
		h6.sport-name {
			line-height: 1.1;
		}
	}
	h6.sport-name {
		font-weight: bold;
		margin: 0;
		text-align: left;
//		line-height: 2;
		& ~ p {
			text-align: left;
		}
	}
	.col-xs-4 {
		padding-right: 0;
	}
	.col-xs-8 {
		padding-left: 0;
	}
	.col-md-4 {
		padding-right: 0;
	}
	&.sport-1, &.sport-2, &.sport-3 {
		h6.sport-name {
			&:before {
				content: ('');
				width: 28px;
				height: 25px;
				display: inline-block;
				background-position: center top;
				position: absolute;
				top: 2px;
			}
			span {
				padding-left: 32px;
			}
		}
	}
	&.sport-1 {
		.sport-name {
			&:before {
				background: url('../images/sport1.png');
				background-size: 28px 50px;
				@include image-2x("../images/sport1x2.png", 28px, 50px);
			}
		}
	}
	&.sport-2 {
		.sport-name {
			&:before {
				background: url('../images/sport2.png');
				background-size: 28px 50px;
				@include image-2x("../images/sport2x2.png", 28px, 50px);
			}
		}
	}
	&.sport-3 {
		.sport-name {
			&:before {
				background: url('../images/sport3.png');
				background-size: 28px 50px;
				@include image-2x("../images/sport3x2.png", 28px, 50px);
			}
		}
	}
	.split {
		clear: both;
		border-top: 1px solid $DarkTurquoise;
		h5 {
			color: $DarkTurquoise;
			padding-left: 14px;
			font-size: $m-font;
			margin: 5px 0;
			text-align: left;
		}
	}
	@media screen and (min-width: 1024px) {
		.sport-title {
			text-align: left;
			height: 60px;
		}
	}
	@media screen and (max-width: 413px) {
		.sport-achievement, h6.sport-name {
			font-size: $l-font;
		}
	}
	@media screen and (max-width: 374px) {
		.sport-achievement, h6.sport-name {
			font-size: $m-font;
		}
	}
	@include respond-to (only-desktop){
		padding-bottom: 0;
	}
	
}
.history {
	border-bottom: 1px solid #f1d0cc;
	margin-bottom: 30px;
	clear: both;
	&:nth-last-of-type(1) {
		margin-bottom: 0;
	}
	@media screen and (max-width: 374px) {
		.col-xs-8, .col-xs-4 {
			width: 100%;
			text-align: left!important;
			padding-left: 10px!important;
			line-height: $l-font;
			h6 {
				margin: 0!important;
			}
		}
	}
	
}
.table-btn {
	width: 100%;
	text-align: center;
	color: $orange;
//	background-color: transparent;
	background: $skin;
	border: 0;
	outline: 0;
	border-top: 1px solid #f1d0cc;
	font-size: 14px;
	line-height: 30px;
	i {
		padding-left: 10px;
	}
	&:focus {
		outline: 0;
	}
//	&:hover, &:focus {
//		background: $primary-color;
//		color: $white;
//	}
	&.open-close {
		&.collapsed:after {
			font-family: FontAwesome;
			content: "展開分段成績 \f107";
		}
		&:after {
			font-family: FontAwesome;
			content: "收合分段成績 \f106";
		}
	}
}
.select-style {
	margin: 0 auto 10px;
	width: 50%;
	float: right;
	position: relative;
	color: $gray;
//	&:after {
//		font-family: FontAwesome;
//		content: '\f0d7';
//		padding: 0 3px;
//		position: absolute;
//		right: 5px;
//		top: 5px;
//	}
}
#top-btn {
	background: $DarkTurquoise;
	position: fixed;
	right: -50px;
	bottom: 70px;
	width: 50px;
	height: 50px;
	z-index: 101;
	border-radius: 50%;
	@include box-dark-shadow;
	@include transition(color, .5s, ease-in);
	a {
		display: block;
		color: $white;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
	}
	&.fixed {
		right: 6px;
		bottom: 70px;
	}
}
.track {
	display: block;
	float: right;
	text-align: center;
	margin: 2px 2px 3px 0;
	a {
		font-size: $s-font;
		display: block;
		padding: 0 6px;
		line-height: 24px;
		border-radius: 2px;
		color: $white;
		background: $primary-color;
	}
}
p.results {
	text-align: center;
	color: $gray;
	font-size: $l-font;
	padding: 20px 0;
	width: 90%;
	margin: 10px auto;
}
#search {
	.back {
	}
}
.search {
	h3 {
		text-align: center;
		color: $primary-color;
		font-size: $xxl-font;
		span {
			display: block;
			font-size: $xs-font;
		}
	}
	h4 {
		margin-top: 0;
		text-align: center;
	}
	.sport-info {
		padding: 20px 20px 30px;
	}
	
	p {
		font-size: $l-font;
		color: $gray;
	}
	.captcha {
		margin: 10px 0;
		border: 1px solid $light-gray;
		display: inline-block;
		color: $gray;
	}
}
#match-detail {
	h2 {
		text-align: center;
		line-height: 1.2;
		margin-bottom: 20px;
		span {
			font-size: $xxs-font;
			display: block;
		}
	}
	h3 {
		margin: 0;
		text-align: center;
	}
	.tab-container {
		margin-bottom: 20px;
	}
}