@charset 'utf-8';
@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
@import "compass/utilities/sprites";
//@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700'); 
//@import 'base/css3-mixins';

.underline {
    text-decoration: underline;
    padding: 0 4px;
}
.input-password {
    position: relative;
    .icon-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        i {
            line-height: 34px;
            width: 34px;
            height: 34px;
            text-align: left;
            cursor: pointer;
        }
    }
}
input[type='password'], input[type='text'] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
}
.member-form {
    margin-bottom: 50px;
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 15px;
        margin-bottom: 20px;
    }
    button {
        width: 100%;
        margin-bottom: 10px;
//        height: 40px;
//        line-height: 40px;
        &.btn-secondary {
            color: $gray;
        }
        i {
            color: $white;
            width: 28px;
            height: 28px;
            line-height: 28px;
            border-radius: 28px;
            margin-right: 6px;
            text-align: center;
            &.fa-facebook {
                background: #3B5998;
            }
            &.fa-google {
                background: #DC4E41;
            }
        }
    }
    input {
//        margin-bottom: 10px;
    }
    
    .link {
        a {
            color: $gray;
            text-decoration: underline;
        }
        
    }
    .form-group {
        margin-bottom: 10px;
    }
    
    small {
        color: $gray;
//        padding: 0 13px;
        display: inline-block;
        &.help-block {
            margin: 2px 0;
            color: $orange;
        }
        &.countdown {
            float: right;
            margin: 2px 0;
        }
    }
    .has-error {
        .form-control {
            border: 1px solid $orange;
            &:focus {
                border: 1px solid $orange-red;
            }
        }
    }
    @include respond-to (xxs-mobile){
        p {
            font-size: 14px;
        }
    }
}
.or-line {
    position: relative;
    span {
        width: 40px;
        display: inline-block;
    }
    &:before {
        content: '';
        display: inline-block;
        border-bottom: 1px solid $medium-gray;
    }
}
.mytextdiv, .logo-line {
    display:flex;
    flex-direction:row;
    align-items: center;
    margin: 26px 0;
    #athlete & {
        margin: 16px 0;
    }
    .mytexttitle, .logo {
        flex-grow: 0;
        padding: 0 10px;
        color: $gray;
    }
    .divider {
        flex-grow:1;
        height: 1px;
        background-color: $gray;
    }
}
.logo-line {
    img.logo {
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0 10px;
    }
    .divider {
        background-color: $orange;
        &.gray {
            background-color: $medium-gray; 
        }
    }
}
.text {
    text-align: center;
    a {
        color: $orange;
    }
}
form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}
// Radio
.radio input[type="radio"] {
    margin-left: 0;
}
.radio {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    font-size: 16px;
    line-height: 32px;
    
    &_input {
        position: absolute;
        top: 4px;
        left: 0;
        width: 36px;
        height: 20px;
        opacity: 0;
        z-index: 0;
    }
	label {
		padding-left: 30px;
	}
    // Unchecked
    &_label {
        display: block;
        padding: 0 0 0 24px;
        cursor: pointer;
        
        &:before {
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            width: 22px;
            height: 22px;
            background-color: transparent;
            border: 3px solid $medium-gray;
            border-radius: 14px;
            z-index: 1;
            transition: border-color 0.28s cubic-bezier(.4, 0, .2, 1);
        }
         
        &:after {
            content: '';
            position: absolute;
            top: 9px;
            left: 5px;
            width: 12px;
            height: 12px;
            background-color: $orange;
            border-radius: 50%;
            z-index: 2;
            transform: scale(0, 0);
            transition: transform 0.28s cubic-bezier(.4, 0, .2, 1);
        }
    }
    
    // Checked
    &_input:checked + &_label {
        &:before {
            border-color: $medium-gray;
        }
        
        &:after {
            transform: scale(1, 1);
        }
    }
}

.member-info {
    h2 {
        font-size: 24px;
    }
    h4 {
        text-align: center;
        color: $orange;
        margin-top: -30px;
        span {
            display: block;
        }
        .name {
            font-size: 20px;
        }
        .eng-name {
            font-weight: normal;
        }
    }
    .btn-custom {
        width: 100%;
    }
    .avatar-wrapper {
        text-align: center;
    }
    .avatar {
        display: block;
        margin: 0 auto;
    }
    .camera {
        display: inline-block;
        font-size: 20px;
        color: $white;
        background: $orange;
        width: 36px;
        height: 36px;
        line-height: 36px;
        position: relative;
        top: -30px;
        right: -36px;
        border-radius: 18px;
    }
    .basic-info {
        margin-top: 10px;
        color: $gray;
        span {
            display: block;
            margin-bottom: 4px;
        }
        .mail {
            line-height: 1.2;
        }
        button {
            float: right;
        }
        [class*='col-'] {
            padding: 0;
        }
    }
}
.device-info,.device-sorting {
    h3 {
        font-size: 22px;
        color: $gray;
        text-align: center;
        font-weight: normal;
    }
    h4 {
        font-size: 22px;
        color: $orange;
    }
    .btn-container {
        margin: 4px 0;
        text-align: right;
        .btn-secondary {
            height: 34px;
            line-height: 34px;
            
        }
    }
    [class*='col-'] {
        padding: 0;
    }
}
.device-list {
//    padding: 0 30px;
    width: 98%;
    margin: 10px auto;
    @include card-style;
    padding-bottom: 0;
    font-size: 16px;
    li {
//        list-style: decimal inside none;
        line-height: 42px;
        padding-left: 16px;
        border-bottom: 1px solid $medium-gray;
        &:nth-last-of-type(1) {
            border-bottom: 0;
        }
    }
}

.device-sorting {
    .dragging, .dragging * {
      cursor: move !important;
    }
    .dragged {
      position: absolute;
      opacity: 0.5;
      z-index: 2000;
    }
    .sort-list {
        li {
            line-height: 42px;
            border-bottom: 1px solid $medium-gray;
            cursor: move;
            padding: 10px 0 10px 16px;
            display: flex;
            &:nth-last-of-type(1) {
                border-bottom: 0;
            }
            span {
                height: 42px;
                overflow: hidden;
                 font-size: 15px;
            }
            span.device-name {
                flex: auto;
            }
            span.sort-icon {
                display: block;
                float: right;
                width: 30px;
                height: 30px;
                margin: 6px;
                background: url('../images/icon_sort.png') no-repeat right;
                background-size: 30px 30px;
            }
            img {
                width: 42px;
                height: 42px;
            }
        }
    }
    .sort-list li.placeholder {
        position: relative;
    }
    .sort-list li.placeholder:before {
        position: absolute;
    }
    .tab-content {
        padding: 0;
        @include card-style;
        border-radius: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: inset 0 0 2px rgba(#009086,.9);
    }
}
.nav-tabs {
    > li {
        width: 33.333%;
        &:nth-of-type(1) {
            width: auto;
            > a {
                padding: 0;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 0;
                &:before {
                    background-image: url('../images/icon_tab_swim.png');
                }
            }
        }
        &:nth-of-type(2) {
            > a {
                &:before {
                    background-image: url('../images/icon_tab_bike.png');
                }
            }
        }
        &:nth-of-type(3) {
            > a {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 0;
                &:before {
                    background-image: url('../images/icon_tab_run.png');
                }
            }
        }
        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
            &.active, &:hover {
                > a {
                    &:before {
                        background-position: left top;
                    }
                }
            }
            > a {
                &:before {
                    content: ('');
                    display: inline-block;
                    width: 40px;
                    height: 30px;
                    background-size: 40px;
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    vertical-align: middle;
                }
                
            }
        } 
    }
}
.performance-card {
    @include card-style;
    padding-top: 0;
    padding-bottom: 0;
    h3.title {
        background-color: #F7F7F7;
        text-align: center;
        font-weight: normal;
        color: $dark;
        font-size: 18px;
        margin: 0;
        line-height: 50px;
    }
    .row {
        &.info {
            margin: 16px 0;
            text-align: center;
            span {
                
                &:before {
                    content: ('');
                    display: inline-block;
                    width: 36px;
                    height: 27px;
                    background-size: 36px;
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    vertical-align: middle;
                }
                &.swim {
                    &:before {
                        background-image: url('../images/icon_tab_swim.png');
                    }
                }
                &.bike {
                    &:before {
                        background-image: url('../images/icon_tab_bike.png');
                    }
                }
                &.run {
                    &:before {
                        background-image: url('../images/icon_tab_run.png');
                    }
                }
            }
            
        }
    }
    .col-xs-6 {
        text-align: center;
//        &:nth-last-of-type(1) {
//            text-align: right;
//        }
    }
    .col-xs-4 {
        border-right: 1px solid $medium-gray;
        &:nth-last-of-type(1) {
            border-right: 0;
        }
    }
    
}
.form-group {
    &[class*='col-'] {
        button {
            margin: 0;
            height: 32px;
        }
        padding-left: 0;
        padding-right: 5px;
//        &:nth-of-type(1) {
//            padding-left: 0;
//            padding-right: 15px;
//        }
        &:nth-last-of-type(1) {
            padding-right: 0;
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: auto;
            width: 100%;   
        }
    }
}
.panel-default > .panel-heading {
    background-color: #F7F7F7;
    border: 0;
}
.panel {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    &:nth-last-of-type(1) {
        border-bottom: 0;
    }
    .panel-heading {
        padding: 0;
        border-radius: 0;
    }
    h4 {
        &.panel-title {
            color: $gray;
            text-align: left;
            margin: 0;
            a {
                display: block;
                padding: 10px 15px;
                &:hover {
                    background-color: $pink-peach;
                }
            }
            span {
                display: inline-block;
            }
        }
    }
}
